html {background:linear-gradient(90deg,#31998e,#00ffdd,#004435);}
h1 {text-align:center;text-shadow:1px 1px 0px #54a4dd, 1px 0px 0px #54a4dd, 1px -1px 0px #54a4dd, 0px -1px 0px #54a4dd, -1px -1px 0px #54a4dd, -1px 0px 0px #54a4dd, -1px 1px 0px #54a4dd, 0px 1px 0px #54a4dd;color:#001b22;}
td,th {border:2px outset #00ffdd;padding:0px;margin:0px;}
h2,h3 {line-height:0.5;}
table {background:#3389cc;border:2px outset #00ffdd;padding:0px;text-align:center;}
ol {text-indent:-5px;}
li {padding-right:25px;}
