html {background:linear-gradient(90deg,#997732,gold,#442200);}
h1 {text-align:center;text-shadow:1px 1px 0px #ddbb55, 1px 0px 0px #ddbb55, 1px -1px 0px #ddbb55, 0px -1px 0px #ddbb55, -1px -1px 0px #ddbb55, -1px 0px 0px #ddbb55, -1px 1px 0px #ddbb55, 0px 1px 0px #ddbb55;color:#221100;}
td,th {border:2px outset gold;padding:0px;margin:0px;}
h2,h3 {line-height:0.5;}
table {background:#ca3;border:2px outset gold;padding:0px;text-align:center;}
ol {text-indent:-5px;}
li {padding-right:25px;}
